@use "./abstracts/index" as *;

/* --------------------------------------------------------------
   CSS RESET (Eric Meyer’s Reset + HTML5 elements)
   -------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}

html {
    scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/*============== Body default =================*/

body {
    font-family: $font-main !important;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;

    &::-webkit-scrollbar {
        width: 0;
        height: 0px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--three-color);
        border-radius: 999px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(90deg, #FF930F, #FFF95B);
        transform: scaleX(1.2);
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }

}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    width: 100%;
    margin: auto;
}

.container-2 {
    max-width: 1790px;
    padding: 0 15px;
    width: 100%;
    margin: auto;
}

.container-3 {
    max-width: 1740px;
    padding: 0 15px;
    width: 100%;
    margin: auto;
}

.container-4 {
    max-width: 850px;
    padding: 0 15px;
    width: 100%;
    margin: auto;
}



/* Lists */
ol,
ul {
    list-style: none !important;
    margin: 0;
    padding: 0 !important;

}

/* Blockquotes & quotes */
blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Forms */
textarea {
    height: 160px;
    resize: none;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    margin: 0;
    background: none;
    border: none;
    font-size: 100%;
    line-height: inherit;
    vertical-align: baseline;
}

/* Anchor default */
a {
    text-decoration: none !important;
    color: inherit;
    @include transition3;

    &:hover,
    &:focus {

        outline: 0;
    }
}


* {
    scroll-behavior: auto !important;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


button,
input {
    line-height: normal;
}


select {
    outline: 0;
}

/* Reset search styling */
input[type="search"] {
    outline: 0;
}



input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: button;
    border: 0;
}

input[type="checkbox"],
input[type="radio"] {
    overflow: hidden;
    padding: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: sub;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}



textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-family: $font-main;
    border: 1px solid var(--stoke-color);
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    line-height: 20px;
    border-radius: 16px;
    padding: 14px 20px;
    caret-color: var(--primary-color);
    width: 100%;
    background: var(--white);
    color: var(--place-holder);
    font-weight: 400;
    @include transition3;

    &:hover,
    &:focus {
        border-color: var(--primary-color) !important;
    }

    &.style-2 {
        padding-left: 12px;
        padding-right: 12px;
    }
}


textarea::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="color"]::placeholder {
    @include transition3;
    color: var(--place-holder);
}


// Placeholder color
::-webkit-input-placeholder {
    color: var(--place-holder);
}

:-moz-placeholder {
    color: var(--place-holder);
}

::-moz-placeholder {
    color: var(--place-holder);
    opacity: 1;
}

/* Typography
-------------------------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
.h6,
h6 {
    text-rendering: optimizeLegibility;
    color: var(--heading-color);
    font-weight: 600;
    margin: 0;
    padding: 0;
}


.h1,
h1 {
    line-height: 48px;
    font-size: 40px;
}

.h2,
h2 {
    line-height: 38px;
    font-size: 30px;
}

.h3,
h3 {
    line-height: 30px;
    font-size: 24px;
}

.h4,
h4 {
    font-size: 20px;
    line-height: 25px;
}

.h5,
h5 {
    line-height: 23px;
    font-size: 18px;
}


.text-xl {
    font-size: 20px;
    line-height: 30px;
}

.text-xl-2 {
    font-size: 20px;
    line-height: 24px;
}

.text-xl-3 {
    font-size: 20px;
    line-height: 32px;
}

.text-lg {
    font-size: 18px;
    line-height: 28px;
}

.text-md {
    font-size: 16px;
    line-height: 24px;
}

.text-sm {
    font-size: 14px;
    line-height: 20px;
}

.text-xs {
    font-size: 12px;
    line-height: 18px;
}

.text-xxs {
    font-size: 10px;
    line-height: 14px;
}

.text-caption {
    font-size: 12px;
    line-height: 15.72px;
}

.fs-84 {
    font-size: 84px;
    line-height: 84px;
}

.body-text {
    font-size: 16px;
    line-height: 25.6px;
}

.body-text-2 {
    font-size: 16px;
    line-height: 19.2px;
}

.link {
    color: inherit;
    @include transition3;
}

.link:hover {
    color: var(--primary-color) !important;
    cursor: pointer;
    @include transition3;
}


// ============FONT-SIZE==============
.fs-7 {
    font-size: 7px !important;
}

.fs-8 {
    font-size: 8px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.lh-32px {
    line-height: 32px !important;
}


// ===============Spacing====================
.mx-15 {
    margin: 0 15px;
}



.flat-spacing {
    padding-top: 100px;
    padding-bottom: 100px;
}

.flat-spacing-2 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.flat-spacing-3 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.flat-spacing-4 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.flat-spacing-5 {
    padding-top: 43px;
    padding-bottom: 43px;
}

.flat-spacing-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.flat-spacing-7 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.flat-spacing-8 {
    padding-top: 80px;
    padding-bottom: 60px;
}

.flat-spacing-9 {
    padding-top: 68px;
    padding-bottom: 68px;
}

.flat-spacing-10 {
    padding-top: 60px;
    padding-bottom: 70px;
}

.flat-spacing-11 {
    padding-top: 80px;
    padding-bottom: 127px;
}

.flat-spacing-12 {
    padding-top: 80px;
    padding-bottom: 44px;
}

.flat-spacing-13 {
    padding-top: 64px;
    padding-bottom: 100px;
}

.flat-spacing-14 {
    padding-top: 83px;
    padding-bottom: 98px;
}


.flat-spacing-15 {
    padding-top: 176px;
    padding-bottom: 176px;
}

.flat-spacing-16 {
    padding-top: 120px;
    padding-bottom: 80px;
}

.flat-spacing-17 {
    padding-top: 80px;
    padding-bottom: 120px;
}

.flat-spacing-18 {
    padding-top: 52px;
    padding-bottom: 52px;
}

.flat-spacing-19 {
    padding-top: 87px;
    padding-bottom: 143px;
}

.flat-spacing-20 {
    padding-top: 86px;
    padding-bottom: 86px;
}

.flat-spacing-21 {
    padding-top: 116px;
    padding-bottom: 116px;
}

.flat-spacing-22 {
    padding-top: 182px;
    padding-bottom: 120px;
}

.flat-spacing-23 {
    padding-top: 136px;
    padding-bottom: 136px;
}

.flat-spacing-24 {
    padding-top: 64px;
    padding-bottom: 80px;
}

.flat-spacing-25 {
    padding-top: 80px;
    padding-bottom: 100px;
}

.flat-spacing-26 {
    padding-top: 126px;
    padding-bottom: 80px;
}

.flat-spacing-27 {
    padding-top: 145px;
    padding-bottom: 120px;
}

.flat-spacing-28 {
    padding-top: 120px;
    padding-bottom: 80px;
}

.flat-spacing-29 {
    padding-top: 80px;
    padding-bottom: 94px;
}

.flat-spacing-30 {
    padding-top: 100px;
    padding-bottom: 58px;
}

.flat-spacing-31 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.flat-spacing-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.flat-spacing-33 {
    padding-top: 120px;
    padding-bottom: 114px;
}

.flat-spacing-34 {
    padding-top: 40px;
    padding-bottom: 124px;
}

.flat-spacing-35 {
    padding-top: 120px;
    padding-bottom: 103px;
}

.flat-spacing-36 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.flat-spacing-37 {
    padding-top: 42px;
    padding-bottom: 42px;
}

// =========PADDING==============
/* Padding Utilities */
.p-0 {
    padding: 0px;
}

.p-1 {
    padding: 4px;
}

.p-2 {
    padding: 8px;
}

.p-3 {
    padding: 12px;
}

.p-4 {
    padding: 16px !important;
}

.p-5 {
    padding: 20px;
}

.p-6 {
    padding: 24px;
}

.p-8 {
    padding: 32px;
}

.p-12 {
    padding: 48px;
}

.p-16 {
    padding: 64px;
}

/* Padding X (horizontal) */
.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.px-1 {
    padding-left: 4px;
    padding-right: 4px;
}

.px-2 {
    padding-left: 8px;
    padding-right: 8px;
}

.px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.px-4 {
    padding-left: 16px;
    padding-right: 16px;
}

.px-5 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-6 {
    padding-left: 24px;
    padding-right: 24px;
}

.px-8 {
    padding-left: 32px;
    padding-right: 32px;
}

.px-12 {
    padding-left: 48px;
    padding-right: 48px;
}

.px-16 {
    padding-left: 64px;
    padding-right: 64px;
}

/* Padding Y (vertical) */
.py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.py-1 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-3 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-4 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-5 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-6 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-8 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.py-12 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.py-16 {
    padding-top: 64px;
    padding-bottom: 64px;
}

/* Padding Top */
.pt-0 {
    padding-top: 0px !important;
}

.pt-1 {
    padding-top: 4px;
}

.pt-2 {
    padding-top: 8px;
}

.pt-3 {
    padding-top: 12px;
}

.pt-4 {
    padding-top: 16px;
}

.pt-5 {
    padding-top: 20px;
}

.pt-6 {
    padding-top: 24px;
}

.pt-8 {
    padding-top: 32px;
}

.pt-10 {
    padding-top: 40px;
}

.pt-12 {
    padding-top: 48px;
}

.pt-14 {
    padding-top: 56px;
}

.pt-16 {
    padding-top: 64px;
}

/* Padding Right */
.pr-0 {
    padding-right: 0px;
}

.pr-1 {
    padding-right: 4px;
}

.pr-2 {
    padding-right: 8px;
}

.pr-3 {
    padding-right: 12px;
}

.pr-4 {
    padding-right: 16px;
}

.pr-5 {
    padding-right: 20px;
}

.pr-6 {
    padding-right: 24px;
}

.pr-8 {
    padding-right: 32px;
}

.pr-12 {
    padding-right: 48px;
}

.pr-16 {
    padding-right: 64px;
}

/* Padding Bottom */
.pb-0 {
    padding-bottom: 0px !important;
}

.pb-1 {
    padding-bottom: 4px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pb-3 {
    padding-bottom: 12px;
}

.pb-4 {
    padding-bottom: 16px;
}

.pb-5 {
    padding-bottom: 20px;
}

.pb-6 {
    padding-bottom: 24px;
}

.pb-8 {
    padding-bottom: 32px;
}

.pb-12 {
    padding-bottom: 48px;
}

.pb-14 {
    padding-bottom: 56px;
}

.pb-16 {
    padding-bottom: 64px;
}

/* Padding Left */
.pl-0 {
    padding-left: 0px;
}

.pl-1 {
    padding-left: 4px;
}

.pl-2 {
    padding-left: 8px;
}

.pl-3 {
    padding-left: 12px;
}

.pl-4 {
    padding-left: 16px;
}

.pl-5 {
    padding-left: 20px;
}

.pl-6 {
    padding-left: 24px;
}

.pl-8 {
    padding-left: 32px;
}

.pl-12 {
    padding-left: 48px;
}

.pl-16 {
    padding-left: 64px;
}

/* Margin Utilities */
.m-0 {
    margin: 0px;
}

.m-1 {
    margin: 4px;
}

.m-2 {
    margin: 8px;
}

.m-3 {
    margin: 12px;
}

.m-4 {
    margin: 16px;
}

.m-5 {
    margin: 20px;
}

.m-6 {
    margin: 24px;
}

.m-8 {
    margin: 32px;
}

.m-12 {
    margin: 48px;
}

.m-16 {
    margin: 64px;
}

.m-auto {
    margin: auto;
}

/* Margin X (horizontal) */
.mx-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mx-1 {
    margin-left: 4px;
    margin-right: 4px;
}

.mx-2 {
    margin-left: 8px;
    margin-right: 8px;
}

.mx-3 {
    margin-left: 12px;
    margin-right: 12px;
}

.mx-4 {
    margin-left: 16px;
    margin-right: 16px;
}

.mx-5 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-6 {
    margin-left: 24px;
    margin-right: 24px;
}

.mx-8 {
    margin-left: 32px;
    margin-right: 32px;
}

.mx-12 {
    margin-left: 48px;
    margin-right: 48px;
}

.mx-16 {
    margin-left: 64px;
    margin-right: 64px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* Margin Y (vertical) */
.my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.my-1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.my-2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.my-3 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.my-4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.my-5 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-6 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.my-8 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.my-12 {
    margin-top: 48px;
    margin-bottom: 48px;
}

.my-16 {
    margin-top: 64px;
    margin-bottom: 64px;
}

/* Margin Top */
.mt-0 {
    margin-top: 0px;
}

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-3 {
    margin-top: 12px;
}

.mt-4 {
    margin-top: 16px;
}

.mt-5 {
    margin-top: 20px;
}

.mt-6 {
    margin-top: 24px;
}

.mt-8 {
    margin-top: 32px;
}

.mt-10 {
    margin-top: 40px;
}

.mt-12 {
    margin-top: 48px;
}

.mt-16 {
    margin-top: 64px;
}


.mt_114 {
    margin-top: 114px;
}


.mt_-150 {
    margin-top: -150px;
}

/* Margin Right */
.mr-0 {
    margin-right: 0px;
}

.mr-1 {
    margin-right: 4px;
}

.mr-2 {
    margin-right: 8px;
}

.mr-3 {
    margin-right: 12px;
}

.mr-4 {
    margin-right: 16px;
}

.mr-5 {
    margin-right: 20px;
}

.mr-6 {
    margin-right: 24px;
}

.mr-8 {
    margin-right: 32px;
}

.mr-12 {
    margin-right: 48px;
}

.mr-16 {
    margin-right: 64px;
}

/* Margin Bottom */
.mb-0 {
    margin-bottom: 0px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mb-5 {
    margin-bottom: 20px;
}

.mb-6 {
    margin-bottom: 24px;
}

.mb-8 {
    margin-bottom: 32px;
}

.mb-12 {
    margin-bottom: 48px;
}

.mb-14 {
    margin-bottom: 56px;
}

.mb-16 {
    margin-bottom: 64px;
}

.mb_120 {
    margin-bottom: 120px !important;
}

/* Margin Left */
.ml-0 {
    margin-left: 0px;
}

.ml-1 {
    margin-left: 4px;
}

.ml-2 {
    margin-left: 8px;
}

.ml-3 {
    margin-left: 12px;
}

.ml-4 {
    margin-left: 16px;
}

.ml-5 {
    margin-left: 20px;
}

.ml-6 {
    margin-left: 24px;
}

.ml-8 {
    margin-left: 32px;
}

.ml-12 {
    margin-left: 48px;
}

.ml-16 {
    margin-left: 64px;
}

/* Gap  */
.gap-0 {
    gap: 0px;
}

.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 12px !important;
}

.gap-4 {
    gap: 16px;
}

.gap-5 {
    gap: 20px !important;
}

.gap-6 {
    gap: 24px;
}

.gap-8 {
    gap: 32px;
}

.gap-10 {
    gap: 40px !important;
}

.gap-12 {
    gap: 48px !important;
}

.gap-16 {
    gap: 64px;
}

.gap-30 {
    gap: 30px !important;
}

.gap-list {
    gap: 16px 30px !important;
}

// =========Border=============
.bb-1 {
    border-bottom: 1px solid var(--stoke-color);
}

.single-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}


.multi-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// =========RADIUS=============
/* === All corners === */
.round-none {
    border-radius: 0;
}

.round-xs {
    border-radius: 2px;
}

.round-sm {
    border-radius: 4px;
}

.round-md {
    border-radius: 8px;
}

.round-lg {
    border-radius: 12px;
}

.round-xl {
    border-radius: 16px;
}

.round-2xl {
    border-radius: 24px;
}

.round-3xl {
    border-radius: 32px;
}

.round-full {
    border-radius: 9999px;
}

/* === Specific corners === */
.round-t-sm {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.round-t-md {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.round-t-lg {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.round-b-sm {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.round-b-md {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.round-b-lg {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.round-l-sm {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.round-l-md {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.round-l-lg {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.round-r-sm {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.round-r-md {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.round-r-lg {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

// ============DISPLAY==================
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}



.d-grid {
    display: grid;
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr) !important;
}

.d-none {
    display: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-grow {
    flex-grow: 1;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.item-center {
    align-items: center;
}

.sticky-sidebar {
    position: sticky;
    top: 100px;
}

.text-capitalize {
    text-transform: capitalize;
}

// Row
.row {
    margin-top: 0 !important;
    margin-right: -20px !important;
    margin-left: -20px !important;
    display: flex;
    flex-wrap: wrap;

    >* {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

// ==================Shadow====================
.shadow-none {
    box-shadow: none;
}

.shadow-sm {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.shadow-xl {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

.shadow-inner {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shadow-hover:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.shadow-dropdown {
    box-shadow: 0px 4px 26px rgba(66, 71, 76, 0.08);
}

.shadow-form {
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.07);
}

// ==================Positioning=================
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// ==========WIDTH==================
.w-auto {
    width: auto;
}

.w-full {
    width: 100%;
}

.h-auto {
    height: auto;
}

.h-full {
    height: 100%;
}

.w-50 {
    width: 50%;
}

.h-50 {
    height: 50%;
}


.max-w-screen {
    max-width: 100vw;
}

.max-h-screen {
    max-height: 100vh;
}

// ==================Height======================


// ====================Typography================


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.italic {
    font-style: italic;
}

// =====================Text color=============================
.text-white {
    color: var(--white);
}

.text-note {
    color: var(--note-color);
}

.text-black {
    color: var(--heading-color) !important;
}

.text-color {
    color: var(--text-color);
}

.text_primary {
    color: var(--primary-color) !important;
}

// ======================Transition & Animation==================
.transition {
    transition: all 0.3s ease;
}

.transition-fast {
    transition: all 0.15s ease;
}

.transition-slow {
    transition: all 0.5s ease;
}

.scale-hover:hover {
    transform: scale(1.05);
}

.rotate-hover:hover {
    transform: rotate(3deg);
}

// ====================Overflow & Visibility==============
.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-scroll {
    overflow: scroll;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

// =====================Opacity & Cursor=================
.opacity-0 {
    opacity: 0;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-100 {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

//=========Z-index
.z-0 {
    z-index: 0;
}

.z-5 {
    z-index: 5;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-auto {
    z-index: auto;
}

// ======khung hình
.aspect-1-1 {
    aspect-ratio: 1 / 1;
}

.aspect-4-3 {
    aspect-ratio: 4 / 3;
}

.aspect-4-5 {
    aspect-ratio: 4 / 5;
}



.aspect-16-9 {
    aspect-ratio: 16 / 9;
}

.aspect-21-9 {
    aspect-ratio: 21 / 9;
}

.aspect-2-3 {
    aspect-ratio: 2 / 3;
}

.aspect-3-2 {
    aspect-ratio: 3 / 2;
}

.aspect-3-4 {
    aspect-ratio: 3 / 4;
}

.aspect-9-16 {
    aspect-ratio: 9 / 16;
}

.aspect-1-2 {
    aspect-ratio: 1 / 2;
}

.aspect-5-4 {
    aspect-ratio: 5 / 4;
}

.aspect-5-3 {
    aspect-ratio: 5 / 3;
}

.aspect-8-5 {
    aspect-ratio: 8 / 5;
}

.aspect-2-1 {
    aspect-ratio: 2 / 1;
}

.aspect-3-1 {
    aspect-ratio: 3 / 1;
}

.aspect-7-5 {
    aspect-ratio: 7 / 5;
}

.aspect-9-8 {
    aspect-ratio: 9 / 8;
}

//============== Text===========
.title {
    font-size: 70px;
    line-height: 120%;
    color: var(--heading-color);

}

.subtitle {
    color: var(--text-color);
    line-height: 140%;
    font-size: 16px;
    font-weight: 400;
}

// ============Background================
.bg-transparent {
    background-color: transparent !important;
}


.o-cover {
    object-fit: cover;
}

.cus-ovl-1 {
    clip-path: inset(0 -66.67% 0 -66.67%);
    overflow: visible;

    .swiper-slide-active {
        opacity: 1;
    }

    .swiper-slide-next,
    .swiper-slide-prev {
        opacity: 0.7;
    }

}

.fancybox__container .fancybox__content,
.fancybox__container .fancybox-image {
    aspect-ratio: 16 / 9 !important;
    width: 1226.67px !important;
    height: 690px !important;
    object-fit: cover;
}

.border-bottom {
    border-bottom: 1px solid var(--stoke-color);
}

.border-top {
    border-top: 1px solid var(--stoke-color);
}

.mobile-only {
    display: none;
}

.slider-layout-right {
    width: calc(100vw - (100vw - 1310px) / 2 - 1px);
    margin-right: unset;
    max-width: 100%;
    margin-left: auto;
    padding: 0 15px;

    .swiper:not(.tf-sw-right) {
        margin-right: -15px;
    }
}